body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.row {
  clear: both;
  content: "";
  display: table-row;
}

.board {
  clear: both;
  content: "";
  display: table;
}

.cell {
  display: table-cell;
  display: table-cell;
  border: 1px solid #999;
  height: 34px;
  width: 34px;
}

.tall {
  color: red
}

.wide {
  color: cyan
}

.small {
  color: orange
}

.big {
  color: purple
}